* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Roboto", sans-serif;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px 0px 0px;
}

.logo span {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #f13c6e;
  margin: 0px 0px 0px 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.logo span:hover {
  color: rgba(241, 60, 110, 0.7);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: #000000;
  padding: 0 26px;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  background-color: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn:hover {
  background-color: #f13c6e;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #fff;
}

.btn--w {
  color: #fff;
  border: 2px solid #fff;
  padding: 0 45px;
}

.header {
  background-color: #fff;
  width: 100%;
}

.header-top {
  background-color: #efefef;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 80px 30px 30px 30px;
    -webkit-transition: right 0.6s ease;
    transition: right 0.6s ease;
    z-index: 4;
  }
  .menu__body._active {
    right: 0;
  }
}

@media (max-width: 425px) {
  .menu__body {
    width: 100%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__list li {
  margin: 0px 0px 0px 30px;
}

@media (max-width: 768px) {
  .menu__list li {
    margin: 0px 0px 30px 0px;
  }
}

.menu__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  position: relative;
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 24px;
  }
}

.menu__link::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #231f1f;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__link:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu__link:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__link._active::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #231f1f;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-center {
  border-bottom: 1px solid #efefef;
}

.header-center__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.header-center__phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0px 40px 0px 0px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header-center__phone:hover {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header-search {
  max-width: 250px;
  position: relative;
  margin: 0px 30px 0px 0px;
}

.header-search::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../image/search.svg") no-repeat;
  display: block;
}

.input-search {
  background: #efefef;
  border-radius: 40px;
  height: 36px;
  width: 100%;
  padding: 0px 20px 0px 45px;
  border: 2px solid #efefef;
}

@media (max-width: 768px) {
  .input-search {
    border: 2px solid #f13c6e;
  }
}

.input-search:focus {
  border-radius: 40px;
  border: 2px solid #f13c6e;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 768px) {
  .header-bottom {
    display: none;
  }
}

.header-bottom li {
  margin: 0px 40px 0px 0px;
}

.header-bottom .menu__link {
  font-size: 16px;
  line-height: 19px;
}

.intro {
  background-color: #f13c6e;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  height: 604px;
  padding: 0px 15px;
}

@media (max-width: 805px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
  }
}

.intro__circle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(290px + 510 * ((100vw - 320px) / 1600));
  height: calc(290px + 510 * ((100vw - 320px) / 1600));
  background: #f67699;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

@media (max-width: 805px) {
  .intro__circle {
    margin: 0px 0px 50px 0px;
  }
}

.intro__circle-first {
  width: 680px;
  height: 680px;
  width: calc(270px + 350 * ((100vw - 320px) / 1600));
  height: calc(270px + 350 * ((100vw - 320px) / 1600));
  background: #feafc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 50%;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.intro__circle-first img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1300px) {
  .intro__circle-first img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .intro__circle-first img {
    max-width: 50%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #feafc4;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #feafc4;
            box-shadow: 0 0 0 0 #feafc4;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.intro__content {
  width: 100%;
  position: relative;
  z-index: 3;
}

.intro__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 805px) {
  .intro__title {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 375px) {
  .intro__title {
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 20px 0px;
  }
}

.intro__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
  max-width: 308px;
}

@media (max-width: 805px) {
  .intro__text {
    margin: 0px auto 30px auto;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .intro__text {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */